---
import { CollectionEntry, getCollection } from "astro:content";

const helloEntriesInitial = await getCollection("hello");
---
  <ul class="max-w text-gray-500 list-none dark:text-gray-400 pl-0">
  {
    helloEntriesInitial.map((helloEntry) => (

    <li class="text-sm font-medium pl-0 ml-0 mt-0 mb-0" style="margin: 0 0">
      <a href={helloEntry.data.aliases} class="block px-4 py-2">{helloEntry.data.title}</a>
    </li>
    
      ))
  }
  </ul>
